<div class="d-flex my-5 gap-5">
    <div class="box align-self-start">
        <h1 class="text-center my-2">Account</h1>
        <mat-selection-list [multiple]="false">
            <mat-list-option style="font-size: large;" routerLink="./information"> Information </mat-list-option>
            <mat-list-option style="font-size: large;" routerLink="./my_post"> My Post </mat-list-option>
            <mat-list-option style="font-size: large;" routerLink="./my_offer"> My Offer </mat-list-option>
            <mat-list-option style="font-size: large;" routerLink="./my_order"> My Order </mat-list-option>
          </mat-selection-list>
    </div>
    
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
