.box
{
    border: 3px solid black;
    width: fit-content;
    background-color: white;

    ul
    {
        list-style: none;
        margin-right: 25px;
        margin-top: 20px;
        li
        {
            margin-top: 10px;
            font-size: large;
        }
    }

    a
    {
        text-decoration: none;
        font-size: large;
    }
}