<div class="box">
  <form>
    <ul>
      <li><h1>Account Information</h1></li>
      <li *ngIf="modifyInformationError">
        <pre class="text-center" style="color: red; font-size: large;">{{modifyInformationError.trim()}}</pre>
      </li>
      <li>username: {{userService.getCurrentLoginUser().username}}</li>
      <li>
        <label for="first_name" (click)="display1 = true">First Name: </label>
        <span *ngIf="!display1" (click)="display1 = true"> {{user.first_name}}</span>
        <input *ngIf="display1" (blur)="display1= false" id="first_name" type="text" name="first_name" [(ngModel)]="user.first_name" [style.width.ch]="user.first_name.length + 1">
      </li>
      <li>
        <label for="last_name" (click)="display2 = true">Last Name: </label>
        <span *ngIf="!display2" (click)="display2 = true"> {{user.last_name}}</span>
        <input *ngIf="display2" (blur)="display2= false" id="last_name" type="text" name="last_name" [(ngModel)]="user.last_name" [style.width.ch]="user.last_name.length + 1">
      </li>
      <li>
        <label for="middle_name" (click)="display3 = true">Middle Name: </label>
        <span *ngIf="!display3" (click)="display3 = true"> {{user.middle_name}}</span>
        <input *ngIf="display3" (blur)="display3= false" id="middle_name" type="text" name="middle_name" [(ngModel)]="user.middle_name" [style.width.ch]="user.middle_name.length + 2">
      </li>
      <li>
        <label for="email" (click)="display4 = true">Email: </label>
        <span *ngIf="!display4" (click)="display4 = true"> {{user.email}}</span>
        <input *ngIf="display4" (blur)="display4= false" id="email" type="text" name="email" [(ngModel)]="user.email" [style.width.ch]="user.email.length + 2">
      </li>
      <li>Created: {{userService.getCurrentLoginUser().create_time}}</li>
      <li>status: {{userService.getCurrentLoginUser().status}}</li>
      <li>
        <button [disabled]="!isUserChange()" (click)="modifyUser()" mat-raised-button color="primary">Save</button>
        <button [disabled]="!isUserChange()" (click)="resetUser()" mat-raised-button color="warn">Revert</button>
      </li>
      <li><button (click)="display5 = !display5" mat-raised-button color="primary">Change Password</button></li>
    </ul>
  </form>
</div>

<div *ngIf="display5" class="box my-2">
  <form #modifyPasswordFormInstance="ngForm">
    <ul>
      <li *ngIf="changePasswordError">
        <h2 class="text-center" style="color: red;">{{changePasswordError}}</h2>
      </li>
      <li>
        <mat-form-field appearance="legacy">
          <mat-label>Current Password</mat-label>
          <input type="password" matInput name="current_password" ngModel required>
          <mat-error>This field is required</mat-error>
        </mat-form-field>
      </li>
      <li>
        <mat-form-field appearance="legacy">
          <mat-label>New Password</mat-label>
          <input type="password" matInput name="new_password" (keyup)="checkPasswordStrength(modifyPasswordFormInstance)" required ngModel>
          <mat-error>This field is required</mat-error>
          <mat-hint>Password Strength: {{passwordStrength}}</mat-hint>
        </mat-form-field>
      </li>
      <li>
        <mat-form-field appearance="legacy">
          <mat-label>re-new Password</mat-label>
          <input type="password" matInput name="confirm_new_password" required ngModel>
          <mat-error>This field is required</mat-error>
        </mat-form-field>
      </li>
      <li>
        <button [disabled]="modifyPasswordFormInstance.invalid" mat-raised-button color="primary" (click)="changePassword(modifyPasswordFormInstance)">Confirm Change Password</button>
      </li>
    </ul>
  </form>
</div>